*{
    font-family: Ubuntu, Comic Sans MS, Arial, serif;
}

body {
     background-color: #FF7901;
}

.links, .video {
    text-align: center;
    color: #FFCC9C;
}
.defense{
    text-align: center;
}

a:link {
    color: #FFCB9C;
}

a:visited {
    color: #612E00;
}